<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="net.developia.xcispring01.mapper.TimeMapper">
	<select id="getTime2" resultType="string">
		SELECT to_char(sysdate, 'YYYY-MM-DD') FROM dual
	</select>
</mapper>